[user]
	name = Tyler Rosnett
	email = 32503435+tylerrosnett@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[push]
	autoSetupRemote = true
